.search-form {
  display: flex;
  gap: 8px;
}
.search-input {
  /* opacity: 10%; */
  background-color: #0000001a;
  border: #323b54 1px;
  border-radius: 12px;
  color: #475069;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 16px;
  background: url(../../assets/svg/LeftIcon.svg) no-repeat 10px center;
  padding-left: 48px;
}
