body {
  background: linear-gradient(
    to top,
    #111827,
    #1a2231,
    #232c3b,
    #2d3646,
    #374151
  );
  color: #ffffff;
  margin: 0px;
}
nav {
  margin: 71px 180px 80px 180px;
}
input {
  background-color: #1f293799;
  opacity: 0.6;
  width: 224px;
  height: 40px;
  border-radius: 100px;
}

footer {
  opacity: 0.6;
  margin: 0 606px 77px 608px;
}
h1 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 468px;
  margin-right: 457px;
}
h3 {
  font-weight: 400;
  font-size: 16px;
}
ul {
  list-style-type: none;
  padding: 0;
}
ul a {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}
.title {
  margin: 0 630px 14px 630px;
}
.title,
.job {
  font-weight: 400;
  font-size: 14px;
  opacity: 0.6;
}
.logo {
  font-weight: 600;
  font-size: 18px;
}
.head {
  font-weight: 400;
  font-size: 20px;
  margin: 0 365px 0 367px;
}
.content {
  font-weight: 400;
  font-size: 16px;
  margin: 20px 366px 103px 366px;
}
.content a {
  color: #ffffff;
}
.profile {
  margin-bottom: 28px;
  margin-left: 640px;
  margin-right: 586px;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.blog img {
  width: 896px;
  height: 594;
  border-radius: 5px;
  margin: 0 272px 69px;
}
